@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
}
#welcome-section{
  background: linear-gradient(blue, orange);
  font-family: cursive;
  text-align: center;
  
  width: 100vw;
  height: 100vw;
  padding: 70px 0;
}

.project-section{
  background: linear-gradient(orange, red);
  font-family: cursive;
  text-align: center;
  
  width: 100vw;
  height: 100vw;
  padding: 70px 0;
  
}

.contact-section{
  background: linear-gradient(red,green);
  font-family: cursive;
  text-align: center;
  width: 100vw;
  height: 100vw;
  padding: 70px 0;
  
}

header {
  position: fixed;
  width: 100%;
}
body{
  margin: 0;
}
.nav{
  background-color: #2323;
  display: inline-block;
  width: 100vw;
  
  
  
}
ul {
    list-style-type: none;
    padding: 20px
     
}
.nav-list a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.nav-list a:hover {
  background-color: #ddd;
  color: black;
}
.nav-list a.active {
  background-color: #04AA6D;
  color: white;
}
